[user]
	name = R. Nicolás Savinelli
	email = rsavinelli@est.frba.utn.edu.ar
[core]
    editor = vim
[color]
	ui = true
[push]
    default = simple
[format]
    pretty = full
[log]
    decorate = auto
[grep]
    linenumber = true
