#setxkbmap -option caps:escape
#numlockx &
#xwallpaper --zoom "/usr/share/backgrounds/others/Thomas Couture -Romains de la décadence.jpg"
#picom -b
redshift-gtk &
network-traffic -u &
#xautolock -time 10 -locker slock &
